* {
  background-color: #152c2c;
}

#top {
  height: 80px;
  width: 100%;
  background-color: #244646;
}

#select {
  background-color: teal;
  margin-top: 25px;
  margin-left: 600px;
  padding: 3px 10px;
  color: whitesmoke;
  font-weight: bold;
}
#finalResult {
  height: 70px;
  width: 70px;
  background-color: #244646;
  color: white;
  text-align: center;
  margin-left: 300px;
  float: left;
  margin-top: 50px;
}
.speedTimer {
  height: 70px;
  width: 70px;
  background-color: #244646;
  color: white;
  text-align: center;
  margin-right: 250px;
  float: right;
  font-size: 30px;
}
textarea {
  height: 100px;
  width: 400px;
  margin-left: 450px;
  margin-top: 30px;
  background-color: teal;
  color: white;
}
button {
  margin-left: 620px;
  padding: 5px 10px;
  color: white;
}
.paraDisplay {
  max-width: 400px;
  margin-left: 430px;
  color: whitesmoke;
  text-align: center;
}
.correct {
  color: rgb(12, 129, 12);
}

.incorrect {
  color: rgb(185, 14, 14);
  text-decoration: underline;
  font-weight: bold;
}

#playAgain {
  text-align: center;
  margin-top: 20px;
  width: 130px;
  border-radius: 5px;
  margin-right: 1200px;
}
#timeUp {
  text-align: justify;
}
.head {
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
  color: teal;
  font-weight: bolder;
  font-size: 45px;
  margin-left: 550px;
  padding-top: 10px;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #136a8a 0%,
    #267871 51%,
    #136a8a 100%
  );
}
.timer-badge {
  color: white;
  text-align: center;
  margin-right: 250px;
  float: right;
  margin-top: 35px;
  font-size: 15px;
}
.fa-color {
  color: teal;
  margin-left: 180px;
  margin-top: 20px;
}
